{% extends "usuario.html" %} {% block titulo %}Iniciar Sesion -
STIO{%endblock %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-9 col-lg-12 col-xl-10">
    <div class="card shadow-lg o-hidden border-0 my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-6 d-none d-lg-flex">
            <div
            id="login-image"
              class="flex-grow-1 bg-login-image"
            ></div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h4 class="text-dark mb-4">Bienvenido de vuelta</h4>
              </div>
              <form action="#" method="post" class="user">
                <div class="mb-3">
                  <input
                    class="form-control form-control-user"
                    type="email"
                    id="exampleInputEmail"
                    aria-describedby="emailHelp"
                    placeholder="Ingresar correo electronico"
                    name="email"
                  />
                </div>
                <div class="mb-3">
                  <input
                    class="form-control form-control-user"
                    type="password"
                    id="exampleInputPassword"
                    placeholder="Contraseña"
                    name="password"
                  />
                </div>
                <div class="mb-3">
                  <div class="custom-control custom-checkbox small">
                    <div class="form-check">
                      <input
                        name="recuerdame"
                        class="form-check-input custom-control-input"
                        type="checkbox"
                        id="formCheck-1"
                      /><label
                        class="form-check-label custom-control-label"
                        for="formCheck-1"
                        >Recuerdame</label
                      >
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-primary d-block btn-user w-100"
                  type="submit"
                >
                  Ingresar
                </button>
              </form>
              <div class="text-center">
                <a class="small" href="recuperar_contraseña"
                  >Olvido la contraseña?</a
                >
              </div>
              <!-- <div class="text-center">
                <a class="small" href="register.html">Crear una cuenta</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock %}

