<!DOCTYPE html>
<html lang="es-us">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>{% block titulo %}{% endblock %}</title>
    <link
      rel="icon"
      type="image/jpeg"
      sizes="320x320"
      href="{{url_for('static',filename='img/3.jpg')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='fonts/fontawesome-all.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='fonts/font-awesome.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='fonts/fontawesome5-overrides.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/Team-Boxed.css')}}"
    />
  </head>

  <body class="bg-gradient-primary">
    {% with mensaje = get_flashed_messages() %} {%if mensaje%}
    <div class="alerta">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      {{mensaje[0]}}
    </div>
    {% endif %} {% endwith %}

    <div class="container">{% block content %}{% endblock %}</div>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bs-init.js')}}"></script>
    <script src="{{url_for('static',filename='js/theme.js')}}"></script>
  </body>
</html>
